<html>
	<head>
		<title>GuitarBud</title>
		{% load staticfiles %}
		{% include 'gb/header.html' %}

	</head>
	<body>
		<a href="#"><div id="gb-bar">
			<strong>Guitar<span id="bud">Bud</span><small> &bull; About</small></strong>
		</div></a>
		<div id="about">
			<span class="big">GuitarBud was created with the vision of making music education easier and more accessible to everyone, for free. It was started and is maintained by a group of university students and music lovers from Georgia.<br></span>
			<br>
			<strong>Ali Abid</strong>: Ali is the founder of GuitarBud and is an avid guitar player. He is the lead developer and administrator of GuitarBud.<br>
			<strong>Daniel Khalek</strong>: Daniel has been part of the GuitarBud team since its beginning, and is in charge of user experience. He ensures that the GuitarBud learning experience is as intuitive and simple as possible. He is also in charge of marketing and promoting GuitarBud usage.<br>
			<strong>Davis Beauchamp</strong>: Davis is an avid musician. He is in charge of quality control, and ensures all submitted tabs are accurate.<br><br>
			<span id="contact">
			<hr><br>
			<span class="big">GuitarBud couldn't exist without the GuitarBud community, so we'd love to hear from you! We also depend on your submissions for tabs, as well as suggestions, feature requests, etc.<br></span>
			<br>
			Contact Ali at <em>ali.abid@guitarbud.com</em> for administrative level requests as well as software issues and bugs. <br>
			Contact Daniel at <em>daniel.khalek@guitarbud.com</em> for feature requests involving user experience. If you are a business interested in sponsoring us, he is also the best point of contact!<br>
			Contact Davis at <em>davis.beauchamp@guitarbud.com</em> to submit tabs or tab corrections. Thanks for your help!<br><br>
			<span id="terms">
			<hr><br>
Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern GuitarBud's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.

The term 'GuitarBud' or 'us' or 'we' refers to the owners of the website. The term 'you' refers to the user or viewer of our website.

The use of this website is subject to the following terms of use:

<ul>
<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice. </li>
<li> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. </li>
<li> Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements. </li>
<li> This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. </li>
<li> All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website. </li>
<li> Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence. </li>
<li> From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s). </li>
</ul>			
		</div>
	</body>
</html>