<html>
	<head>
		<title>GuitarBud</title>
		{% load staticfiles %}
		{% include 'gb/header.html' %}

	</head>
	<body>
		<a href="#"><div id="gb-bar">
			<strong>Guitar<span id="bud">Bud</span></strong>
		</div></a>
		<div id="song-combobox">
			<canvas id="shadow-canvas"></canvas>
			<div id="song-combobox-inner">
				<div><input type="text" id="song-input" value="{{preinput}}" autofocus onfocus="this.value = this.value;"></div>
				<div id="button-row">
					<a href="javascript:;"><div class="home-button" id="hb1">Find Song</div></a>
					<a href="javascript:;"><div class="home-button" id="hb2">Random</div></a>				
					<div id="extra-links"><a href="javascript:;"><span id="about">About</span></a> | <a href="javascript:;">Contact us</a> | <a href="javascript:;">Privacy Policy</a></div>
				</div>
			</div>
		</div>
		<div id="playback-control"></div>		
		<div id="info">
			{% include 'gb/songlist.html' %}
		</div>
	</body>
	{% include 'gb/footer.html' %}
</html>